
/* 폰트적용 - 시작 */
@font-face {
  font-family: "LotteMartDream";
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2")
      format("woff2"),
    url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff")
      format("woff");
}

@font-face {
  font-family: "LotteMartDream";
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2")
      format("woff2"),
    url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff")
      format("woff");
}

@font-face {
  font-family: "LotteMartDream";
  font-style: normal;
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2")
      format("woff2"),
    url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff")
      format("woff");
}
@font-face {
    font-family: 'HSBombaram3_Thin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.1/HSBombaram3_Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* 폰트적용 - 끝 */

min-h-screen {
	height: 100%;
}

html > body {
  font-family: "LotteMartDream", sans-serif;
}

.img-box>img {
	display: block;
	width: 100%;
}

/* 폰트적용 - 끝 */

/* 유틸 - 시작 */
.row-span-7 {
  grid-row: span 7 / span 7;
}

.row-span-8 {
  grid-row: span 8 / span 8;
}

.touch-imposible .invisible-scrollbar-box::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.grid-item-float {
  grid-template-columns: repeat(auto-fit, minmax(0, max-content));
}

.item-bt-1 > * {
  border-top: 1px solid #afafaf;
}

.item-bb-1-not-last-child > *:not(:last-child) {
  border-bottom: 1px solid #afafaf;
}

.title-bar {
  font-size: 1.1rem;
  padding-top: 5px;
  paddinb-bottom: 5px;
  margin-top: 20px;
  margin-bottom: 15px;
  border: solid black;
  border-width: 2px 0;
}

.title-bar:first-child {
  margin-top: 0;
}

.form-control .plain-text {
  padding: 0 0.25rem;
  color: rgba(0, 0, 0, 0.7);
}

.plain-link-wrap.gap-2 > *:not(:last-child) {
  margin-right: 0.5rem;
}

.plain-link-wrap.gap-3 > *:not(:last-child) {
  margin-right: 0.75rem;
}

.form-type-1 {
  gap: 10px;
}

.btn-wrap {
  display: flex;
  flex-wrap: wrap;
}

.btn-wrap.gap-1 > *:not(:last-child) {
  margin-right: 0.25rem;
}

.btn-wrap.gap-2 > *:not(:last-child) {
  margin-right: 0.5rem;
}

.btn-wrap.gap-3 > *:not(:last-child) {
  margin-right: 0.75rem;
}

:root {
  --card-title_height: 40px;
  --card-title_left-btn-cell-width: 50px;
}

/* 카드타이틀 - 시작 */
.card-title-2 {
  background-color:#a80001;
  color:white;
  text-align:center;
  height:var(--card-title_height);
  position:absolute;
  width:100%;
  display:grid;
  align-items:center;
  grid-template-columns: var(--card-title_left-btn-cell-width) auto var(--card-title_left-btn-cell-width);
}

.card-title + * {
  margin-top: var(--card-title_height);
}
/* 카드타이틀 - 끝 */

.con-bg{
	background-color:#6e6f75;
	padding:1px 15px;
	display : inline-block;
	border-radius: 50px;
	color: white;
}



html > body .plain-link {
  color: rgb(59, 130, 246);
}

html > body .plain-link:hover {
  text-decoration: underline;
}

.max-h-18 {
  max-height: calc(0.25rem * 18);
}

.line-clamp-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.line-clamp-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-clamp-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

/* 유틸 - 끝 */

/* 기타 - 시작 */
.component-title-bar {
  border: solid black;
  border-width: 2px 0;
  margin-top: 20px;
  margin-bottom: 10px;
}
/* 기타 - 끝 */

@media (max-width: 640px) {
  .sm\:col-span-3 {
    grid-column: span 3 / span 3;
  }
}


/* 탑바 시작 */


.top-bar {
  height: 3rem;
  background-color:white;
}

/* 탑바 - 메뉴 박스 시작 */
.top-bar .menu-box-1 {
  overflow-x:auto;
}

/* 탑바 - 메뉴 박스 - 터치 불가능한 경우 스크롤바 제거 */
.touch-imposible .menu-box-1::-webkit-scrollbar
{
  width: 0;
  height: 0;
}

/* 탑바 - 메뉴 박스 - 더보기 그림자 시작 */
.top-bar .container {
  position:relative;
}

.top-bar .container::after {
  content:"";
  position:absolute;
  top:0;
  right:0;
  width:40px;
  height:100%;

  pointer-events:none;
}
/* 탑바 - 메뉴 박스 - 더보기 그림자 끝 */

/* 탑바 - 메뉴 박스 - 아이템 시작 */
.top-bar .menu-box-1 ul > li > a > span {
  white-space:nowrap;
}

.top-bar .menu-box-1 ul > li:hover > a {
  background-color:var(--top-bar__color-1);
}
/* 탑바 - 메뉴 박스 - 아이템 끝 */

/* 탑바 - 메뉴 박스 - 2차 메뉴 시작 */

.top-bar .menu-box-1 > ul > li:hover > div {
  display:block;
  z-index:10;
}

.top-bar .menu-box-1 > ul > li > div {
  position:fixed;
  left:0;
  width:100%;
  display:none;
  background-color:white;
  /* .shadow-lg */
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.top-bar .menu-box-1 > ul > li > div > h1 > a {
  display:flex;
  background-color:flex;
  justify-content:center;
  padding:.5rem 0;
  background-color:var(--top-bar__color-1);
}

.top-bar .menu-box-1 > ul > li > div > ul > li > a {
  display:flex;
  background-color:flex;
  justify-content:center;
  padding:.5rem 0;
}
/* 탑바 - 메뉴 박스 - 2차 메뉴 끝 */

.top-bar--fly {
  top:0;
  left:0;
  width:100%;
  z-index:50;
  position:fixed;
}
/* 탑바 끝 */ 

/* 비주얼 시작 */
.item>.text {
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.item>.text-visual-2{
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: white;
	text-align: center;
	padding: 10px 40px;
}
.item>.text-visual-2>h1{
		font-size: 40px;
}

.item>.text>.wine-review {
	font-family: 'HSBombaram3_Thin';
	font-size: 47px;
}

.item>.text-visual-3{
	top: 50%;
	right: 7%;
	transform: translate(-50%,-7%);
	text-align: right;
}
.item>.text-visual-3>h1{
		font-size: 55px;
}
.slick-list{
	position: relative;
}
.slick-dots{
	position: absolute;
	bottom: 20px;
} 
.slick-dotted.slick-slider
{
    margin-bottom: 0px;
}
.img-box-content>img {
	display: block;
	width: 230px;
	height: 230px;
}
.content-h1-1{
	font-family: 'HSBombaram3_Thin';
	text-align: center;
	font-size: 40px;
}

/* 비주얼 끝 */

/* 로그인 시작 */
.login-form{
	border: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;	
}

.login-form.brt {
    margin-top: -1px;
}
/* 로그인 끝 */

/* 회원가입 시작 */
.icon-required{
	display: inline-block;
	width: 5px;
	height: 5px;
	background-color: #f25656;
	border-radius: 50%;
	vertical-align: 2px;
}

/* 회원가입 끝 */

/* 리스트 시작 */
.li_board ul li{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 7px;
    padding-right: 7px;
    border-width: 0 0 1px 0;
    border-style: solid;
}
.li_table ul, .li_board ul li, .li_board .board-head{
    border-color:rgba(61,70,75,0.15);
}

.page-title{
	font-family: 'HSBombaram3_Thin';
	font-size: 55px;
	text-align: center;
}
.page-title-find{
	font-family: 'HSBombaram3_Thin';
	font-size: 45px;
	text-align: center;
}	

/* 리스트 끝 */

.title-box{
	padding-top: 12px;
    padding-bottom: 12px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color:rgba(61,70,75,0.15);
}


/* 버튼 시작 */
.btn-border{
	padding:4px 13px;
	background-color:white;
	border-radius: 10px;
	border: 1px solid red;
	cursor: pointer;
	font-size: 14px;
}
.btn-border:hover{
	color:red;
	transition: .2s;
}

.btn-bg{
	padding:4px 13px;
	background-color:red;
	border: 1px solid red;
	border-radius: 10px;
	cursor: pointer;
	font-size: 14px;
	color:white;
}
.btn-bg:hover{
	color:red;
	background-color:white;
	transition: .2s;
}


/* 버튼 끝 */

/* input file 시작*/
.filebox label {
  display: inline-block;
  padding: .5em .75em;
  color: #fff;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #c44f4f;
  cursor: pointer;
  border: 1px solid #D73125;
  border-radius: .25em;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  font-size:14px;
}

.filebox label:hover {
  background-color: #D73125;
}

.filebox label:active {
  background-color: #D73125;
}

.filebox input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* input file 끝*/






